#src compilado#
###############
*.o
*.out
*.exe
*.a
*.so
*.lib
*.class
*.dll
#Comprimidos#
#############
*.7z
*.rar
*.zip
*.tar

#Logs#
######
*.log
*.pdf
*.pre
*.mcr

#Pastas#
########
./git/bin
./git/obj
./git/bkp

#C::B#
######
*.cbp
*.depend
*.layout

#Python#
########
*.py

#SWP#
#####
.*.swp
*.*~
